@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    text-align: center;
    color: white;
}

p{
    margin: 0 28% 24px;
}

h2{
    color: rgba(51, 168, 219, 1);
}

span{
    color: rgba(51, 168, 219, 1);
}

/* ----------Header ---------------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2)), url(../images/banner.png);
    width: 100%;
    height: 605px;
    align-items: center;
}

.banner-content{
    width: 510;
    height: 393;
    padding-top: 50px;
    margin: 0 20% 20px;
    font-size: 18px;
}

h1{
    background-image: linear-gradient(rgb(51, 168, 219), rgb(20, 114, 183));
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

#course-content{
    width: 792;
    height: 325;
    top: 669px;
    left: 332px;

}

button {
    background-color: transparent;
    width:326px;
    height: 57px;
    width: 326;
    border: 2px solid transparent;
    border-image: linear-gradient(#33A8DB, #1472B7);
    border-image-slice: 1;
    font-size: 16px;
    color: #31A8DD;
    letter-spacing: 21%;
    text-align: center;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

/*-----------MAIN--------------*/
.module {
    width: 535;
    height: 51;
    border-radius: 57px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 127px;
    padding-bottom: 16px;
    padding-left: 127px;
    background: rgba(37, 37, 37, 1);
    color: white;
}

/*----------FOOTER---------*/
footer{
    font-weight: 400;
}

a{
    color: rgba(51, 168, 219, 1);
    text-decoration: none;
    text-decoration: solid;
    font-weight: 700;
}