@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    font-family: "Raleway", sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.4)), url(../images/banner.png);
    text-align: center;
}

header h1{
    background-image: linear-gradient(rgb(51, 168, 219), rgb(20, 114, 183));
    color: transparent;
    background-clip: text;
}