@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    text-align: center;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.4)), url(../images/banner.png);
    width: 1440;
    height: 605;
}

.banner-content{
    width: 510;
    height: 393;
    top: 56px;
    left: 465px;
    gap: 16px;
}

h1{
    background-image: linear-gradient(rgb(51, 168, 219), rgb(20, 114, 183));
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
}


h2{
    color: rgba(51, 168, 219, 1);
}

p{
    color: white;
}

#course-content{
    width: 792;
    height: 325;
    top: 669px;
    left: 332px;

}

.module {
    width: 535;
    height: 51;
    border-radius: 57px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 127px;
    padding-bottom: 16px;
    padding-left: 127px;
    background: rgba(37, 37, 37, 1);
    color: white;
}

span{
    color: rgba(51, 168, 219, 1);
}

footer{
    font-weight: 400;
}

a{
    color: rgba(51, 168, 219, 1);
    text-decoration: none;
    text-decoration: solid;
    font-weight: 700;
}